.withdraw {
  background: linear-gradient(180deg, #66ead093, rgba(177, 252, 225, 0) 100%),
    url("../../../images/hero_bg.png");
    min-height: 100vh;
    padding: 80px 30px;
  .hero {
    .content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .component {
          display: flex;
          flex-direction: column;
        }
      }
    }
    
  }
  $breakpoint-tablet: 900.1px;
    @media (max-width: $breakpoint-tablet) {
      padding: 60px 5px;
      
    }
}
