.homeappbar{
    padding: 10px 50px;
    background: linear-gradient(90deg, #d0ea6670, rgb(242, 255, 0) 100%);
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3px;
            .title{
                font-weight: 900;
                font-size: 24px;
                color: rgb(234, 255, 0);
            }
            img{
                width: 40px;
            }
        }
        .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            .btnlogin:hover{
                background-color: aqua;
            }
        }
    }
    $breakpoint-tablet: 900.1px;
    @media (max-width: $breakpoint-tablet) {
        padding: 5px 10px;
    }
}