.home {
  .hero {
    padding: 80px 20px;
    background: linear-gradient(180deg, #66ead093, rgba(177, 252, 225, 0) 100%),
      url("../../images/hero_bg.png");
    .branding {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }
  .module{
    padding: 10px;
  }
  $breakpoint-tablet: 900.1px;
    @media (max-width: $breakpoint-tablet) {
      .hero{
        padding: 80px 10px
      }
    }
}
